.page-header {
  font-family: $base-font, $second-font, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid $separator-grey;
  background-color: $bg-color;
  padding: 20px 0;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  display: flex;
  cursor: pointer;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  height: 40px;
  width: 40px;
}
.page-header__logo-title {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .page-header__logo {
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-header__logo-image {
    width: 57px;
    height: 57px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 0;
    margin-bottom: 0;
  }
}
