.state {
  // display: grid;
  // grid-template-columns: 2fr 1fr;
  // margin-top: 20px;
  padding: 10px;
  border: 1px dashed $grey;
  border-radius: 5px;
  padding: 15px;
}

.state p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.state-title {
  position: absolute;
  background-color: $white;
  top: -20px;
  left: 10px;
  font-size: 16px;
  line-height: 16px;
  padding: 0 5px;
  color: $partition-title;
}

@media (min-width: $tablet-width) {
  .state {
    // margin-top: 30px;
    margin-bottom: 30px;
  }
  .state p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}